@import "../../../global.css";

::-webkit-scrollbar {
  display: none;
}

.badges {
  margin-top: 12px;
  display: flex;
  gap: 6px;
  overflow: hidden;
  overflow-x: scroll;
}

.creatorCard {
  padding: 18px;
  border: solid 1px var(--color-gray-basic);
  border-radius: 8px;
  text-decoration: none;
  z-index: 10;
}

.image {
  border-radius: 6px;
  width: 100%;
}

.contentCreator {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contentCreator div {
  display: flex;
  gap: 4px;
}

.contentCreator div p {
  color: var(--color-purple-second);
}

a,
a:visited,
a:hover,
a:active,
a:focus {
  color: inherit;
  text-decoration: none;
  outline: none;
}

.creatorCard,
.creatorCard:visited,
.creatorCard:hover,
.creatorCard:active,
.creatorCard:focus {
  color: inherit;
  text-decoration: none;
  outline: none;
}
