@import "../../../global.css";

.Title {
    font-size: 30px;
    font-weight: 600;
    color: var(--color-black-basic);
}

.TitleText {
    font-size: 17px;
    color: var(--color-black-second);
}

.SubTitle {
    font-size: 26px;
    font-weight: 600;
    color: var(--color-black-basic);
}

.SubTitleText {
    font-size: 16px;
    color: var(--color-black-third);
}

.LabelInput {
    font-size: 14px;
    color: var(--color-black-third);
}

.BadgeLabel {
    font-weight: 600;
    font-size: 14px;
    color: var(--color-purple-second);
}
