@import "../../../global.css";

.button--normal {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: row;
  border-radius: var(--button-radius);
  border: none;
  background-color: transparent;
  padding: 8px 32px 8px 12px;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  color: var(--color-black-basic);
}

.button--active {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: row;
  border-radius: var(--button-radius);
  border: none;
  background-color: rgb(243, 243, 243);
  padding: 8px 32px 8px 12px;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  color: var(--color-black-basic);
}

.icon{
  width: 20px;
  height: 20px;
}