@import '../../../global.css';

.header {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form--content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    
}

.form--inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form--inputs .label--Input {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.form-buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
}