@import '../../../global.css';

.tabs-buttons {
    border-bottom: 2px solid var(--color-gray-border);
    margin-bottom: 32px;
    display: flex;
    gap: 8px;
}

.tab-button {
    background-color: transparent;
    border: none;
    padding: 0px 10px 18px 10px;
}

.tab-button.active {
    border-bottom: 2px solid var(--color-purple-basic);
    margin-bottom: -2px;
    color: var(--color-purple-basic);
    border-radius: 0px;
}
