section {
    display: flex;
    flex-direction: column;
    gap: 24px;

    /* quitar de aqui y dejarlo fijo solo en los creator cards */
    height: 100%;
    overflow-y: scroll;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.head div {
    padding-top: 32px;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.head Button {
    width: 10%;
}

.badges--filter {
    display: flex;
    gap: 8px;
}

.creators--container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}