@import '../../../../global.css';

.profile .titles {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.profile .actions {
    display: flex;
    gap: 8px;
    align-items: center;
    width: 100%;
    justify-content: end;
    flex-direction: row;
}

.profile {
    display: flex;
    width: 100%;
    gap: 4px;
    border-bottom: 2px solid var(--color-gray-border);
    padding-bottom: 24px;
}

.schedule {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 22px;
}

.schedules {
    margin-top: 12px;
}

.bio {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.bio .SubTitleText {
    margin-top: 12px;
}

.profile--location .location {
    gap: 12px;
    width: 100%;
}

.profile--online .online {
    display: flex;
    gap: 12px;
    width: 100%;
}

.profile--images {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 12px;
}

.profile--images .images {
    display: flex;
    gap: 12px;
    width: 100%;
}

.apps {
    width: 100%;
}

.LabelInput {
    padding-right: 32%;
}

.schedules-list {
    margin-top: 20px;
}

.schedule-item {
    background-color: var(--color-white-second);
    border: 1px solid var(--color-gray-border);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.schedule-item:hover {
    background-color: var(--danger--bg);
    border: 1px solid var(--danger--border);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.schedule-day {
    font-weight: bold;
}

.schedule-time {
    margin-left: 10px;
}

.apps {
    transition: all 0.4s ease-in-out;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    height: auto;
}

.apps.show {
    opacity: 1;
    max-height: 324px;
}


.maps {
    transition: all 0.4s ease-in-out;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    height: auto;
}

.maps.show {
    opacity: 1;
    max-height: 824px;
}