@import '../../../global.css';

.checkout--titles {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.checkout--head {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: space-around;
    align-items: center;
}

.head--checkout {
    display: flex;
    margin-top: 24px;
}

.checkout--pay {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: space-around;
    align-items: center;
}

.pay--checkout {
    display: flex;
    margin-top: 24px;
    padding-bottom: 24px;
    border-bottom: 2px solid var(--color-gray-border);
}

.head--image {
    padding-right: 38px;
}

.date {
    display: flex;
    gap: 12px;
    width: 100%;
}

.profile--location .location--date {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.profile--checkout {
    display: flex;
    flex-direction: column;
}

.profile--checkout .actions {
    display: flex;
    flex-direction: column;
}

.expiration--cvv {
    margin-top: 12px;
    margin-bottom: 12px;
    display: flex;
    gap: 14px;
}

.inputs {
    width: 100%;
    gap: 8px;
}

.info--pay {
    margin-bottom: 34px;
}

.profile-bill {
    border-top: 1px solid var(--color-gray-border);
    display: flex;
    width: 100%;
    gap: 4px;
    border-bottom: 1px solid var(--color-gray-border);
}

.location {
    align-items: center;
}

.location .SubTitleText{
    padding-top: 24px;
    padding-bottom: 24px;
}

.app {
    margin-top: 12px;
}

.maps--checkout {
    transition: all 0.4s ease-in-out;
    opacity: 0;
    overflow: hidden;
    height: auto;
}

.maps--checkout.show {
    opacity: 1;
}

.maps--checkout.hide {
    opacity: 0;
    max-height: 0;
}

.maps--checkout--options {
    display: flex;
    flex-direction: column;
    transition: all 0.4s ease-in-out;
    opacity: 0;
    overflow: hidden;
    height: auto;
}

.maps--checkout--options.show--options {
    opacity: 1;
   min-height: 400px;
}

.maps--checkout--options.hide--options {
    opacity: 0;
    max-height: 0;
}

.maps--checkout--options .SubTitleText {
    margin-bottom: 12px;
}