@import "../../../global.css";

.input--container {
  border-radius: var(--button-radius);
  border: 1px solid var(--color-gray-basic);
  background: transparent;
  height: 35px;
  width: 280px;
  padding-left: 10px;
  color: var(--color-black-basic);
  display: flex;
  align-items: center;
  box-shadow: var(--shadow-buttons);
}

input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
}

.textInput {
  padding-left: 8px;
}