@import '../../../global.css';

.textArea {
    padding: 14px;
    align-items: center;
    border-radius: 8px;
    width: 100%;
    box-shadow: var(--shadow-buttons);
    border: 1px solid var(--color-gray-basic);
    resize: none;
    outline: none;
}

.textArea:focus {
    border: 1px solid var(--color-text-disabled);
    box-shadow: var(--shadow-buttons);
}

.textArea::placeholder {
    color: var(--placeholder-principal);
}

