@import "../../../global.css";

.button--primary {
  border-radius: var(--button-radius);
  border: 1px solid transparent;
  background-color: var(--color-purple-basic);
  box-shadow: var(--shadow-buttons);
  color: var(--color-white-basic);
  padding: 10px;
  width: auto;
  font-weight: bold;
}

.button--primary--disabled {
  border-radius: var(--button-radius);
  border: 1px solid transparent;
  background-color: var(--color-white-disabled);
  box-shadow: var(--shadow-buttons);
  color: var(--color-text-disabled);
  padding: 10px;
  width: auto;
  font-weight: bold;
}

.button--secondary {
  border-radius: var(--button-radius);
  border: 1px solid var(--color-white-disabled);
  background-color: transparent;
  box-shadow: var(--shadow-buttons);
  color: var(--color-black-basic);
  padding: 10px;
  width: auto;
  font-weight: bold;
}

.button--icon {
  border-radius: var(--button-radius);
  border: 1px solid transparent;
  background-color: var(--color-purple-basic);
  box-shadow: var(--shadow-buttons);
  padding: 10px;
  width: auto;
  display: flex;
  align-items: center;
  color:  var(--color-white-basic);
  gap: 10px;
}

.button--icon-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: var(--button-radius);
  border: 1px solid var(--color-white-disabled);
  background-color: transparent;
  box-shadow: var(--shadow-buttons);
  padding: 10px;
  width: auto;
  font-weight: bold;
  color: var(--color-black-basic);
}

.button--primary,
.button--primary--disabled,
.button--secondary,
.button--icon,
.button--icon-text {
  height: 44px; 
  min-width: 102px; 
}

.icon {
  min-height: 14px;
  min-width: 14px;
}