:root {
  /* for buttons or inputs backgrounds  */
  --color-purple-basic: #7f56d9;
  --color-purple-second: #523595;
  --color-purple-third: #F9F5FF;
  --color-white-basic: #ffffff;
  --color-white-second: #f9fafb; 
  --color-white-disabled: #e6e6e6;

  /* for disabled buttons, divs texts */
  --color-text-disabled: #a0a0a0;

  /* For borders of buttons, divs, etc...*/
  --color-gray-basic: #d0d5dd;

  /* For titles and labesl */
  --color-black-basic: #344054;
  --color-black-second: #475467;

  /* for inputs placeholders */
  --placeholder-principal: #667085;

  /* Shadows */
  --shadow-buttons: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

  /* radius */
  /* buttons */
  --button-radius: 6px;

  /* bloques divs */
  --div-radius: 8px;
}
