
:root {  

  --bg: #FCFCFD;
  /* for buttons or inputs backgrounds  */
  --color-purple-basic: #7f56d9;
  --color-purple-second: #523595;
  --color-purple-third: #F9F5FF;
  --color-white-basic: #ffffff;
  --color-white-second: #f9fafb; 
  --color-white-disabled: #ececec;
  

  /* for disabled buttons, divs texts */
  --color-text-disabled: #a0a0a0;

  /* For borders of buttons, divs, etc...*/
  --color-gray-basic: #d0d5dd;

  /* dividers */
  --color-gray-border: #eef0f4;

  /* For titles and labesl */
  --color-black-basic: #344054;
  --color-black-second: #475467;
  --color-black-third: rgb(130, 141, 158);

  /* for inputs placeholders */
  --placeholder-principal: #667085;

  /* Shadows */
  --shadow-buttons: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  --shadow-inputs: 0px 2px 6px 0px rgba(16, 24, 40, 0.074);

  /* radius */
  /* buttons */
  --button-radius: 6px;

  /* bloques divs */
  --div-radius: 8px;

  /* menu */
  --menuBotton--active: rgb(243, 243, 243);
  --color-white-menu: #ffffff;


  /* danger */
  --danger--border: rgb(250, 181, 181);
  --danger--bg: #ffe1e13e;

  /* toggle */
  --toggle-circle: white;
  --toggle-bg: #ccc;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
}
